@use 'src/styles/styles' as *;

:host, .progress {
  border-radius: rem(2);
}

:host {
  position: relative;
  display: block;
  height: rem(2);
  background: color(neutral-100);
}

.progress {
  height: 100%;

  &.green {
    background: color(green-900);
  }

  &.yellow {
    background: color(yellow-900);
  }

  &.red {
    background: color(red-900);
  }
}
