@use 'src/styles/styles' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: rem(20);
  padding: rem(20);
  border-radius: rem(16);
  border: rem(1) solid #F7F7FB;
  background: color("white");
}

.content .amount {
  margin-top: rem(8);
}

.image {
  width: rem(40);
  height: rem(40);
  border-radius: 50%;
  background: color(neutral-100);
}

.amount {
  &__target {
    color: color(neutral-700);
  }
}
